doctype html
head
    title 마이페이지
    meta(charset='UTF-8')
    link(rel='shortcut icon' type='image/x-icon' href='https://i.imgur.com/EB0bNmk.png')
    link(rel='stylesheet' href='../../../src/css/bootstrap.min.css')
    link(rel='stylesheet' href='../../../src/css/style.css')
header
    ul#navigation
        li
            a(href='./logout') 로그아웃
#form.container
    div
        #title #{userId}님 환영합니다.
footer &copy;2019 Boostcamp Membership, hzoou
